   .pages
        {
            color: #999;
        }
        .pages a,.pages .cpb
        {
            text-decoration: none;
            float: left;
            padding: 0 5px;
            border: 1px solid #ddd;
            background: #ffff;
            margin: 0 2px;
            font-size: 11px;
            color: #000;
        }
        .pages a:hover
        {
            background-color: #999;
            color: #fff;
            border: 1px solid #999;
            text-decoration: none;
        }
        .pages .cpb
        {
            font-weight: bold;
            color: #fff;
            background: #999;
            border: 1px solid #999;
        }

