<?xml version="1.0" encoding="utf-8"?>
<RewriterConfig>
  <Rules>
    <RewriterRule>
      <LookFor>~/index.html</LookFor>
      <SendTo>~/index.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/contents-(\d+).html</LookFor>
      <SendTo>~/contents.aspx?id=$1</SendTo>
    </RewriterRule>
  </Rules>
</RewriterConfig>
